extends layout

block content
  body.c-layout-header-fixed
    // BEGIN: LAYOUT/HEADERS/HEADER-1
    // BEGIN: HEADER
    header.c-layout-header.c-layout-header-3.c-layout-header-3-custom-menu.c-layout-header-default-mobile
      .c-navbar
        .container
          // BEGIN: BRAND
          .c-navbar-wrapper.clearfix
            .c-brand.c-pull-left
              a.c-logo(href='/')
                img.c-desktop-logo(src='../../assets/base/img/logos/logo-1.png', alt='Logotipo de Devs Imagen Digital')
                img.c-desktop-logo-inverse(src='../../assets/base/img/logos/logo-1.png', alt='Logotipo de Devs Imagen Digital')
                img.c-mobile-logo(src='../../assets/base/img/logos/logo-1.png', alt='Logotipo de Devs Imagen Digital')
              button.c-hor-nav-toggler(type='button', data-target='.c-mega-menu')
                span.c-line
                span.c-line
                span.c-line
              //
                PROXIMO LANZMAIENTO BUSQUEDA
                <button class="c-search-toggler" type="button">
                <i class="fa fa-search"></i>
                </button>
            // END: BRAND
            // BEGIN: QUICK SEARCH
            form.c-quick-search(action='#')
              input.form-control(type='text', name='query', placeholder='Type to search...', value='', autocomplete='off')
              span.c-theme-link ×
            // END: QUICK SEARCH
            // BEGIN: HOR NAV
            // BEGIN: LAYOUT/HEADERS/MEGA-MENU
            // BEGIN: MEGA MENU
            nav.c-mega-menu.c-pull-right.c-mega-menu-dark.c-mega-menu-dark-mobile.c-fonts-uppercase.c-fonts-bold
              // BEGIN: MEGA MENU
              ul.nav.navbar-nav.c-theme-nav
                li.c-menu-type-classic
                  a.c-link(href='/') Inicio
                li.c-active.c-menu-type-classic
                  a.c-link.dropdown-toggle Servicios
                  ul.dropdown-menu.c-menu-type-classic.c-pull-left
                    li
                      a(href='/web') Desarrollo Web
                    li
                      a(href='/hosting') Hosting
                    //
                      PROXIMO LANZAMIENTO
                      <li class="dropdown-submenu">
                      <a href="servicios/posicionamiento/index.html">Posicionamiento</a>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="servicios/redes-sociales/index.html">Redes Sociales</a>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="servicios/consultoria/index.html">Consultoría</a>
                      </li>
                //
                  PROXIMO LANZAMIENTO
                  <li class="c-menu-type-classic">
                  <a href="#" class="c-link">Blog</a>
                  </li>
                  <li class="c-menu-type-classic">
                  <a href="#" class="c-link">Arma tu producto</a>
                  </li>
                li.c-menu-type-classic
                  a.c-link(href='/contacto') Contacto
                //
                  OTROS ELEMENTOS
                  <li class="c-search-toggler-wrapper">
                  <a href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
                  </li>
                  <li>
                  <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-user"></i> Sign In</a>
                  </li>
                  <li class="c-quick-sidebar-toggler-wrapper">
                  <a href="#" class="c-quick-sidebar-toggler">
                  <span class="c-line"></span>
                  <span class="c-line"></span>
                  <span class="c-line"></span>
                  </a>
                  </li>
              // END MEGA MENU
            // END: MEGA MENU
            // END: LAYOUT/HEADERS/MEGA-MENU
            // END: HOR NAV
    // END: HEADER
    // END: LAYOUT/HEADERS/HEADER-1
    // BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM
    #forget-password-form.modal.fade.c-content-login-form(role='dialog')
      .modal-dialog
        .modal-content.c-square
          .modal-header.c-no-border
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            h3.c-font-24.c-font-sbold Password Recovery
            p
              | To recover your password please fill in your email address
            form
              .form-group
                label.hide(for='forget-email') Email
                input#forget-email.form-control.input-lg.c-square(type='email', placeholder='Email')
              .form-group
                button.btn.c-theme-btn.btn-md.c-btn-uppercase.c-btn-bold.c-btn-square.c-btn-login(type='submit') Submit
                a.c-btn-forgot(href='javascript:;', data-toggle='modal', data-target='#login-form', data-dismiss='modal') Back To Login
          .modal-footer.c-no-border
            span.c-text-account Don't Have An Account Yet ?
            a.btn.c-btn-dark-1.btn.c-btn-uppercase.c-btn-bold.c-btn-slim.c-btn-border-2x.c-btn-square.c-btn-signup(href='javascript:;', data-toggle='modal', data-target='#signup-form', data-dismiss='modal') Signup!
    // END: CONTENT/USER/FORGET-PASSWORD-FORM
    // BEGIN: CONTENT/USER/SIGNUP-FORM
    #signup-form.modal.fade.c-content-login-form(role='dialog')
      .modal-dialog
        .modal-content.c-square
          .modal-header.c-no-border
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            h3.c-font-24.c-font-sbold Create An Account
            p
              | Please fill in below form to create an account with us
            form
              .form-group
                label.hide(for='signup-email') Email
                input#signup-email.form-control.input-lg.c-square(type='email', placeholder='Email')
              .form-group
                label.hide(for='signup-username') Username
                input#signup-username.form-control.input-lg.c-square(type='email', placeholder='Username')
              .form-group
                label.hide(for='signup-fullname') Fullname
                input#signup-fullname.form-control.input-lg.c-square(type='email', placeholder='Fullname')
              .form-group
                label.hide(for='signup-country') Country
                select#signup-country.form-control.input-lg.c-square
                  option(value='1') Country
              .form-group
                button.btn.c-theme-btn.btn-md.c-btn-uppercase.c-btn-bold.c-btn-square.c-btn-login(type='submit') Signup
                a.c-btn-forgot(href='javascript:;', data-toggle='modal', data-target='#login-form', data-dismiss='modal') Back To Login
    // END: CONTENT/USER/SIGNUP-FORM
    // BEGIN: CONTENT/USER/LOGIN-FORM
    #login-form.modal.fade.c-content-login-form(role='dialog')
      .modal-dialog
        .modal-content.c-square
          .modal-header.c-no-border
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            h3.c-font-24.c-font-sbold Good Afternoon!
            p
              | Let's make today a great day!
            form
              .form-group
                label.hide(for='login-email') Email
                input#login-email.form-control.input-lg.c-square(type='email', placeholder='Email')
              .form-group
                label.hide(for='login-password') Password
                input#login-password.form-control.input-lg.c-square(type='password', placeholder='Password')
              .form-group
                .c-checkbox
                  input#login-rememberme.c-check(type='checkbox')
                  label.c-font-thin.c-font-17(for='login-rememberme')
                    span
                    span.check
                    span.box
                    | 							Remember Me
              .form-group
                button.btn.c-theme-btn.btn-md.c-btn-uppercase.c-btn-bold.c-btn-square.c-btn-login(type='submit') Login
                a.c-btn-forgot(href='javascript:;', data-toggle='modal', data-target='#forget-password-form', data-dismiss='modal') Forgot Your Password ?
              .clearfix
                .c-content-divider.c-divider-sm.c-icon-bg.c-bg-grey.c-margin-b-20
                  span(style='width: 110px') or signup with
                ul.c-content-list-adjusted
                  li
                    a.btn.btn-block.c-btn-square.btn-social.btn-twitter
                      i.fa.fa-twitter
                      | 								Twitter
                  li
                    a.btn.btn-block.c-btn-square.btn-social.btn-facebook
                      i.fa.fa-facebook
                      | 								Facebook
                  li
                    a.btn.btn-block.c-btn-square.btn-social.btn-google
                      i.fa.fa-google
                      | 								Google
          .modal-footer.c-no-border
            span.c-text-account Don't Have An Account Yet ?
            a.btn.c-btn-dark-1.btn.c-btn-uppercase.c-btn-bold.c-btn-slim.c-btn-border-2x.c-btn-square.c-btn-signup(href='javascript:;', data-toggle='modal', data-target='#signup-form', data-dismiss='modal') Signup!
    // END: CONTENT/USER/LOGIN-FORM
    // BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR
    nav.c-layout-quick-sidebar
      .c-header
        button.c-link.c-close(type='button')
          i.icon-login
      .c-content
        .c-section
          h3 Theme Colors
          .c-settings
            span.c-color.c-default.c-active(data-color='default')
            span.c-color.c-green1(data-color='green1')
            span.c-color.c-green2(data-color='green2')
            span.c-color.c-green3(data-color='green3')
            span.c-color.c-yellow1(data-color='yellow1')
            span.c-color.c-yellow2(data-color='yellow2')
            span.c-color.c-yellow3(data-color='yellow3')
            span.c-color.c-red1(data-color='red1')
            span.c-color.c-red2(data-color='red2')
            span.c-color.c-red3(data-color='red3')
            span.c-color.c-purple1(data-color='purple1')
            span.c-color.c-purple2(data-color='purple2')
            span.c-color.c-purple3(data-color='purple3')
            span.c-color.c-blue1(data-color='blue1')
            span.c-color.c-blue2(data-color='blue2')
            span.c-color.c-blue3(data-color='blue3')
            span.c-color.c-brown1(data-color='brown1')
            span.c-color.c-brown2(data-color='brown2')
            span.c-color.c-brown3(data-color='brown3')
            span.c-color.c-dark1(data-color='dark1')
            span.c-color.c-dark2(data-color='dark2')
            span.c-color.c-dark3(data-color='dark3')
        .c-section
          h3 Header Type
          .c-settings
            input.c-setting_header-type.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase.active(type='button', data-value='boxed', value='boxed')
            input.c-setting_header-type.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase(type='button', data-value='fluid', value='fluid')
        .c-section
          h3 Header Mode
          .c-settings
            input.c-setting_header-mode.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase.active(type='button', data-value='fixed', value='fixed')
            input.c-setting_header-mode.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase(type='button', data-value='static', value='static')
        .c-section
          h3 Mega Menu Style
          .c-settings
            input.c-setting_megamenu-style.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase.active(type='button', data-value='dark', value='dark')
            input.c-setting_megamenu-style.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase(type='button', data-value='light', value='light')
        .c-section
          h3 Font Style
          .c-settings
            input.c-setting_font-style.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase.active(type='button', data-value='default', value='default')
            input.c-setting_font-style.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase(type='button', data-value='light', value='light')
    // END: LAYOUT/SIDEBARS/QUICK-SIDEBAR
    // BEGIN: PAGE CONTAINER
    .c-layout-page
      // BEGIN: PAGE CONTENT
      // BEGIN: CONTENT/PRODUCTS/PRODUCT-1
      .c-content-box.c-size-md.c-bg-white.c-no-bottom-padding
        .container
          .c-content-product-1.c-opt-1
            .c-content-title-1
              h3.c-center.c-font-uppercase.c-font-bold Páginas Web para tu marca
              .c-line-center
            .row
              .col-md-4
                .c-media
                  img(src='../../assets/base/img/servicios/web/index-intro.png', alt='Imagen de Introducción de Páginas web - Devs Imagen Digital')
              .col-md-8
                .c-body
                  ul.c-row
                    li
                      h4 ¿Por qué tener una web? 
                      p
                        | Con una página web puedes mostrar ordenadamente todo lo que necesitan saber tus clientes.
                    li
                      h4 Tus ideas en digital
                      p
                        | En una página web tu decides cómo se mostrará la información y qué objetos estarán.
                  ul.c-row
                    li
                      h4 Alcance 
                      p
                        | Un 80% de peruanos entra a internet, muchos te están buscando, ¿te encontrarán?
                    li
                      h4 Posiciónamiento 
                      p
                        | Puedes tener mucha competencia, pero puedes dejarlas atrás teniendo una página web efectiva.
                  button.btn.btn-md.c-btn-border-2x.c-btn-square.c-btn-regular.c-btn-uppercase.c-btn-bold.c-margin-b-100(onclick="window.location.href='#tipos'", type='button')
                    | Ver Tipos de Página Web
      // END: CONTENT/PRODUCTS/PRODUCT-1
      // BEGIN: CONTENT/TABS/TAB-1
      .c-content-box.c-size-md.c-no-bottom-padding.c-overflow-hide
        #tipos.c-container
          .row
            .col-md-12
              .c-content-title-1
                h3.c-font-34.c-font-center.c-font-bold.c-font-uppercase.c-margin-b-30
                  | Tipos de páginas web
                .c-line-center.c-theme-bg
          .row
            .col-md-12
              .c-content-tab-2.c-theme.c-opt-1
                ul.nav.c-tab-icon-stack.c-font-sbold.c-font-uppercase
                  li.active
                    a(href='#c-tab2-opt1-1', data-toggle='tab')
                      span.c-content-line-icon.c-icon-18
                      span.c-title Básica
                    .c-arrow
                  li
                    a(href='#c-tab2-opt1-2', data-toggle='tab')
                      span.c-content-line-icon.c-icon-19
                      span.c-title Profesional
                    .c-arrow
                  li
                    a(href='#c-tab2-opt1-3', data-toggle='tab')
                      span.c-content-line-icon.c-icon-13
                      span.c-title Corporativa
                    .c-arrow
                  //
                    PROXIMO LANZMAIENTO WEB A MEDIDA Y OTROS
                    <li>
                    <a href="#c-tab2-opt1-4" data-toggle="tab">
                    <span class="c-content-line-icon c-icon-20"></span>
                    <span class="c-title">A medida</span>
                    </a>
                    <div class="c-arrow">
                    </div>
                    </li>
                    <li>
                    <a href="#c-tab2-opt1-5" data-toggle="tab">
                    <span class="c-content-line-icon c-icon-33"></span>
                    <span class="c-title">Otros Proyectos</span>
                    </a>
                    <div class="c-arrow">
                    </div>
                    </li>
                .c-tab-content
                  .c-bg-img-center1(style='background-image: url(../../assets/base/img/servicios/web/index-fondo.png)')
                    .container
                      .tab-content
                        #c-tab2-opt1-1.tab-pane.fade.in.active
                          .c-tab-pane
                            img.img-responsive(src='../../assets/base/img/servicios/web/index-tipo-basica.png', alt='Imagen de Página web Básica - Devs Imagen Digital')
                            h4.c-font-30.c-font-thin.c-font-uppercase.c-font-bold Página Web Básica 
                            p.c-font-17.c-margin-b-20.c-margin-t-20.c-font-thin
                              | Una web básica es la opción ideal para aquellos que recién inician en el mundo digital. 
                              br
                              | 													 Cuenta con un diseño estático.
                              | 													 En ella podrás poner toda la información que necesites, imágenes, información, y todo lo que tu cliente necesite saber de ti.
                              br
                            a(href='/web/basica')
                              button.btn.btn-sm.c-theme-btn.c-btn-square.c-btn-bold
                                | Ver Más
                        #c-tab2-opt1-2.tab-pane.fade
                          .c-tab-pane
                            img.img-responsive(src='../../assets/base/img/servicios/web/index-tipo-profesional.png', alt='Imagen de Página web Profesional - Devs Imagen Digital')
                            h4.c-font-30.c-font-thin.c-font-uppercase.c-font-bold Página Web Profesional 
                            p.c-font-17.c-margin-b-20.c-margin-t-20.c-font-thin
                              | Una web profesional viene con un diseño interactivo, en donde podrás impactar en cualquiera que entre en tu página, con efectos, animaciones, etc.
                              br
                              | 													 Al igual que una básica, puedes agregar toda la información que necesites, hasta formularios de conacto! para que tus clientes puedan comunicarse e interactuar contigo.
                            a(href='/web/profesional')
                              button.btn.btn-sm.c-theme-btn.c-btn-square.c-btn-bold
                                | Ver Más
                        #c-tab2-opt1-3.tab-pane.fade
                          .c-tab-pane
                            img.img-responsive(src='../../assets/base/img/servicios/web/index-tipo-corporativa.png', alt='Imagen de Página web Corporativa - Devs Imagen Digital')
                            h4.c-font-30.c-font-thin.c-font-uppercase.c-font-bold Página Web Corporativa  
                            p.c-font-17.c-margin-b-20.c-margin-t-20.c-font-thin
                              | ¿Quieres quedarte para siempre en la mente de tus clientes? 
                              br
                              | 													 Con una web corporativa lo conseguirás! Esta web cuenta con un diseño premium, incluye también un diseño de experiencia de usuario donde podrás prever lo que hará tu cliente en tu web.
                              br
                              | 													 Al igual que las demás, puedes agregar todas las imágenes e información que necesites, y además, te incluimos el posicionamiento en Google (SEO) totalmente gratis!
                            a(href='/web/corporativa')
                              button.btn.btn-sm.c-theme-btn.c-btn-square.c-btn-bold
                                | Ver Más
                        //
                          PROXIMO LANZAMIENTO
                          <div class="tab-pane fade" id="c-tab2-opt1-4">
                          <div class="c-tab-pane">
                          <img class="img-responsive" src="../../assets/base/img/servicios/web/index-tipo-a-medida.png" alt=""/>
                          <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Texto de muestra DEVS Texto de muestra DEVS </h4>
                          <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                          Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS
                          </p>
                          <a href="a-medida.html">
                          <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
                          Texto de muestra DEVS  </button></a>
                          </div>
                          </div>
                          <div class="tab-pane fade" id="c-tab2-opt1-5">
                          <div class="c-tab-pane">
                          <img class="img-responsive" src="../../assets/base/img/servicios/web/index-tipo-otros-proyectos.png" alt=""/>
                          <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Texto de muestra DEVS Texto de muestra DEVS </h4>
                          <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                          Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS Texto de muestra DEVS
                          </p>
                          <a href="otros-proyectos.html">
                          <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
                          Texto de muestra DEVS  </button>
                          </a>
                          </div>
                          </div>
      // END: CONTENT/TABS/TAB-1
      // ===== PASOS ======
      .c-content-box.c-size-md.c-bg-white
        .container
          .row
            .col-md-12
              .c-content-title-1.c-margin-b-60
                h3.c-center.c-font-uppercase.c-font-bold
                  | ¿Cómo construimos tu página?
                .c-line-center
                p.c-center.c-font-uppercase.c-font-17
                  | Son unos simples pasos hasta tener tu web lista
          .row
            .col-md-3.col-sm-6
              .c-content-step-1.c-opt-1
                .c-icon
                  span.c-hr.c-hr-first
                    span.c-content-line-icon.c-icon-23.c-theme
                .c-title.c-font-20.c-font-bold.c-font-uppercase
                  | 1. Conocer tu marca y objetivos
                .c-description.c-font-17
                  | Si sabemos bien qué buscas con tu web, tendrás el mejor resultado.
                //
                  BOTON <button class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">EXPLORE</button>
            .col-md-3.col-sm-6
              .c-content-step-1.c-opt-1
                .c-icon
                  span.c-hr
                    span.c-content-line-icon.c-icon-13.c-theme
                .c-title.c-font-20.c-font-bold.c-font-uppercase
                  | 2. Envío de propuestas
                .c-description.c-font-17
                  | El diseño va por nuestra cuenta, tu tienes la palabra final.
            .col-md-3.col-sm-12
              .c-content-step-1.c-opt-1
                .c-icon
                  span.c-hr
                    span.c-content-line-icon.c-icon-31.c-theme
                .c-title.c-font-20.c-font-bold.c-font-uppercase
                  | 3. Desarrollo según objetivos
                .c-description.c-font-17
                  | Ahora toca desarrollar toda tu web para cumplir tus objetivos.
            .col-md-3.col-sm-12
              .c-content-step-1.c-opt-1
                .c-icon
                  span.c-hr.c-hr-last
                    span.c-content-line-icon.c-icon-17.c-theme
                .c-title.c-font-20.c-font-bold.c-font-uppercase
                  | 4. Feedbacks, contenidos y subida.
                .c-description.c-font-17
                  | Tus textos, fotografías, logotipo. Nuestra magia, desarrollo y voilá. ¡Página lista!
      // =====FIN: PASOS=====
      // BEGIN: CONTENT/PRICING/PRICING-6
      #comparativa.c-content-box.c-size-md(style='background-color: #214e7a')
        .container
          .row
            .col-md-12
              .c-content-title-1.c-title-pricing-1
                h3.c-font-green
                  span.c-font-bold.c-font-white ¿Qué trae cada página?
          .row
            .c-content-pricing-1.c-opt-2
              .col-md-3.c-sm-hidden
                .c-content.c-column-odd.c-padding-adjustment
                  .c-row.c-type.c-font-20.c-align-left
                    strong Características
                  .c-row.c-title.c-font-17
                    | Tipo Diseño
                  .c-row.c-title.c-font-17
                    | Pestañas
                  .c-row.c-title.c-font-17
                    | Secciones
                  .c-row.c-title.c-font-17
                    | Hosting
                  .c-row.c-title.c-font-17
                    | Precio Regular
                  //
                    <div class="c-row c-empty">
                    &nbsp;
                    </div>
              .col-md-3.col-sm-4
                .c-content.c-column-even.c-padding-adjustment
                  .c-row.c-type.c-font-20
                    strong Básica
                  .c-row.c-font-17
                    span.c-sub-title Diseño
                    | 								 Estático
                  .c-row
                    // <i class="fa fa-check c-font-20">
                    | 5
                    span.c-sub-title  Pestañas
                  .c-row
                    | 5
                    span.c-sub-title Secciones
                  .c-row
                    span.c-sub-title Hosting
                    | 								Plan 2
                    // <i class="fa fa-times c-font-20"></i>
                  .c-row.c-price.c-font-white
                    span.c-dollar.c-font-20 S/.
                    span.c-font-30.c-font-bold 500
                  .c-row.c-purchase.c-font-white
                    a(href='/web/basica')
                      button.btn.btn-md.c-btn-square.c-btn-blue.c-btn-uppercase.c-btn-bold Ver Más
              .col-md-3.col-sm-4
                .c-content.c-column-odd.c-padding-adjustment
                  .c-row.c-type.c-font-20
                    strong Profesional
                  .c-row.c-font-17
                    span.c-sub-title Diseño
                    | 								 Interactivo
                  .c-row
                    // <i class="fa fa-check c-font-20">
                    | Hasta 7
                    span.c-sub-title  Pestañas
                  .c-row
                    | Hasta 7
                    span.c-sub-title Secciones
                  .c-row
                    span.c-sub-title Hosting
                    | 								Plan 3
                    // <i class="fa fa-times c-font-20"></i>
                  .c-row.c-price.c-font-white
                    span.c-dollar.c-font-20 S/.
                    span.c-font-30.c-font-bold 700
                  .c-row.c-purchase
                    a(href='/web/profesional')
                      button.btn.btn-md.c-btn-square.c-btn-blue.c-btn-uppercase.c-btn-bold Ver Más
              .col-md-3.col-sm-4
                .c-content.c-column-even
                  .c-row.c-type.c-font-20
                    strong Corporativa
                  .c-row.c-font-17
                    span.c-sub-title Diseño
                    | 								 Premium
                  .c-row
                    // <i class="fa fa-check c-font-20">
                    | Hasta 10
                    span.c-sub-title  Pestañas
                  .c-row
                    | Hasta 10
                    span.c-sub-title Secciones
                  .c-row
                    span.c-sub-title Hosting
                    | 								Plan 4
                    // <i class="fa fa-times c-font-20"></i>
                  .c-row.c-price.c-font-white
                    span.c-dollar.c-font-20 S/.
                    span.c-font-30.c-font-bold 1000
                  .c-row.c-purchase
                    a(href='/web/corporativa')
                      button.btn.btn-md.c-btn-square.c-btn-green.c-btn-uppercase.c-btn-bold Ver Más
              .col-md-12.col-sm-12
                p.c-font-white(style='text-align:right')
                  br
                  //
                    PROXIMO LANZAMIENTO
                    La web a medida depende de lo que requieras. <a class="c-font-white" href="a-medida.html"> <strong>Ver Másr</strong> </a> <br>
                    Las características de Otros Proyectos, puedes verlas <a class="c-font-white" href="otros-proyectos.html"> <strong>AQUÍ</strong> </a> <br>
                  | Puedes ver las características del Hosting 
                  a.c-font-white(href='/hosting#planes')
                    strong AQUÍ
      // END: CONTENT/PRICING/PRICING-6
      // END: PAGE CONTENT
    // END: PAGE CONTAINER
    // BEGIN: LAYOUT/FOOTERS/FOOTER-5
    a(name='footer')
    footer.c-layout-footer.c-layout-footer-2
      .container
        .row
          .col-md-6
            .c-container.c-first
              .c-content-title-1
                h3.c-font-uppercase.c-font-bold Tu imagen digital es la prioridad 
                .c-line-left
                p.color-apple
                  | En devs contamos con asesores dispuestos a visitarte, absolver todas tus dudas y brindarte asesoría especializada. 
                  br
                  strong
                    i.fa.fa-whatsapp
                    |   986 646 836 
                    br
                a.btn.c-theme-btn.c-btn-uppercase.c-btn-square.c-btn-bold(href='/contacto') Contáctanos
                p
          .col-md-6
            .c-container.c-last
              .c-content-title-1
                h3.c-font-uppercase.c-font-bold ¡Síguenos! 
                .c-line-left
              ul.c-socials
                li
                  a(target='_blank', href='https://twitter.com/devsimagen')
                    i.icon-social-twitter
                li
                  a(target='_blank', href='https://www.facebook.com/devsimagendigital/')
                    i.icon-social-facebook
                
                li
                  a(target='_blank', href='https://www.linkedin.com/company/devs-imagen-digital-sac')
                    i.fa.fa-linkedin
              br
              br
              br
              p.color-apple
                | Revisa nuestro Blog si quieres conocer las mejores noticias en marketing digital.
              a.btn.c-btn-border-1x.c-btn-grey-1.c-btn-square.c-btn-uppercase.c-btn-bold.c-margin-r-40(target='_blank', href='/blog') Blog
              | -
        .c-copyright
          p.c-font-oswald.c-font-14
            | Copyright © Devs Imagen Digital SAC
    // END: LAYOUT/FOOTERS/FOOTER-5
    // BEGIN: LAYOUT/FOOTERS/GO2TOP
    .c-layout-go2top
      i.icon-arrow-up
    // END: LAYOUT/FOOTERS/GO2TOP
    // BEGIN: LAYOUT/BASE/BOTTOM
    // BEGIN: CORE PLUGINS
    //if lt IE 9
      script(src='../../../assets/global/plugins/excanvas.min.js')
    script(src='../../assets/plugins/jquery.min.js', type='text/javascript')
    script(src='../../assets/plugins/jquery-migrate.min.js', type='text/javascript')
    script(src='../../assets/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
    // END: CORE PLUGINS
    // BEGIN: LAYOUT PLUGINS
    script(src='../../assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js', type='text/javascript')
    script(src='../../assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js', type='text/javascript')
    script(src='../../assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js', type='text/javascript')
    script(src='../../assets/plugins/owl-carousel/owl.carousel.min.js', type='text/javascript')
    script(src='../../assets/plugins/counterup/jquery.waypoints.min.js', type='text/javascript')
    script(src='../../assets/plugins/counterup/jquery.counterup.min.js', type='text/javascript')
    script(src='../../assets/plugins/fancybox/jquery.fancybox.pack.js', type='text/javascript')
    // END: LAYOUT PLUGINS
    // BEGIN: THEME SCRIPTS
    script(src='../../assets/base/js/components.js', type='text/javascript')
    script(src='../../assets/base/js/app.js', type='text/javascript')
    script.
      $(document).ready(function() {
      App.init(); // init core
      // init main slider
      var slider = $('.c-layout-revo-slider .tp-banner');
      var cont = $('.c-layout-revo-slider .tp-banner-container');
      var api = slider.show().revolution({
      delay: 15000,
      startwidth:1170,
      startheight: 620,
      navigationType: "hide",
      navigationArrows: "solo",
      touchenabled: "on",
      onHoverStop: "on",
      keyboardNavigation: "off",
      navigationStyle: "circle",
      navigationHAlign: "center",
      navigationVAlign: "bottom",
      spinner: "spinner2",
      fullScreen: "on",
      fullScreenAlignForce:"on",
      fullScreenOffsetContainer: (App.getViewPort().width < App.getBreakpoint('md') ? '.c-layout-header' : ''),
      shadow: 0,
      fullWidth: "off",
      forceFullWidth: "off",
      hideTimerBar:"on",
      hideThumbsOnMobile: "on",
      hideNavDelayOnMobile: 1500,
      hideBulletsOnMobile: "on",
      hideArrowsOnMobile: "on",
      hideThumbsUnderResolution: 0
      });
      });
    // END: THEME SCRIPTS
    // END: LAYOUT/BASE/BOTTOM
